<p id="notice"><%= notice %></p>

<h1>Listing Pending Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Course</th>
      <th>Assignment</th>
      <th>Username</th>
      <th>Time queued</th>
      <th>Current stage</th>
      <th>Current stage started</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pending_jobs.each do |pending_job| %>
      <tr>
        <td><%= pending_job.id %></td>
        <td><%= pending_job.course %></td>
        <td><%= pending_job.assignment %></td>
        <td><%= pending_job.username %></td>
        <td><%= pending_job.time_queued %></td>
        <td><%= pending_job.current_stage %></td>
        <td><%= pending_job.current_stage_started %></td>
        <td><%= link_to 'Show', pending_job %></td>
        <td><%= link_to 'Edit', edit_pending_job_path(pending_job) %></td>
        <td><%= link_to 'Destroy', pending_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pending job', new_pending_job_path %>
